extends layout

block content
  h1= 'Node Bootstrap'
  p A boilerplate project tailored to my own preferences. 
    | Comes pre-configured with LESS, Coffeescript, and Jade as dev dependencies and integrates 
    | Twitter Bootstrap with the latest versions of Node, Express, Socket.io.